{% extends "Navbar.html" %}
{% block link %}
    <link rel="stylesheet" src="/static/MainPage.css">
    <script src="../static/ContactFormJS.js"></script>



{% endblock %}
{% block content %}
    <br>
<div class="container">

    <label for="name">Imie</label>
    <input type="text" id="name"  placeholder="">

    <label for="lname">Email</label>
    <input type="text" id="email"  placeholder="">

    <label for="country">Kategoria</label>
    <select placeholder="Wybierz..." id="issue" name="issue">
        <option value="Inne">Inne</option>
      <option value="Renowacje">Renowacja</option>
      <option value="ZakupProduktu">Zakup produktu</option>
      <option value="OpcjeDostawy">Opcje Dostawy</option>

    </select>

    <label for="subject">Pytanie</label>
    <textarea id="question"  placeholder="Wpisz swoje pytanie.." style="height:200px"></textarea>

    <input id="button" type="submit" value="Wyślij">


</div>

{% endblock %}